extends layouts/main
include mixins/mnpForm
block content
    .mnp__form__wrapper
        .mnp__backward__button
        form(action=`/mnp${routes.createMnp}`, method="post")
            table.mnp__form
                tbody
                    tr.mnp__controller
                        td(colspan=2).create__date
                            span 생성일:
                            input(type="date", name="createDate", value=currentDate)
                        td
                            button(href="submit") <i class="fas fa-save"></i>Save Measurement & Planning
                    +mnpForm
