extends layouts/main
include mixins/installationForm
block content
    .installation__form__container
        .installation__backward__button
        form(action=`/installation${routes.createInstallation}`, method="post")
                table.installation__form
                    tbody
                        tr
                            th  Create Date
                        tr.installation__controller
                            td
                                label(for="createDate")
                                input(type="date", value=currentDate, name="createDate")
                            td(colspan="4")
                                button(type="submit", required=true) <i class="fas fa-save"></i>Save Installation
                        +installationForm