.header {
  position: sticky;
  top: 0;
  background-color: $mainBlue;
  font-family: "Noto Sans";
  font-weight: 700;
  z-index: 2;
  .header__wrapper {
    width: 100%;
    padding: 5px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .header__column {
      .logo {
        color: $mainYellow;
        font-family: "Fredoka One";
        font-size: 35px;
        font-weight: 100;
      }
      i.fa-user {
        font-size: 20px;
      }
      &:first-child {
        justify-self: start;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: right;
        li {
          margin-right: 25px;
          a {
            display: flex;
            justify-content: center;
            width: 80px;
            background-color: $headerTabColor;
            color: rgba(0, 0, 0, 0.7);
            border-radius: 7px;
            box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
          }
        }
        li:first-child {
          a {
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 22.5px;
            font-size: 13px;
          }
        }
        li:nth-child(2) {
          margin-right: 0;
          a {
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
