.installation__form__container {
  position: relative;
  display: flex;
  width: 1200px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  .installation__backward__button {
    position: absolute;
    left: 80px;
    top: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 30px;
      height: 30px;
      color: rgba(0, 0, 0, 0.3);
      transition: color 0.2s;
      i {
        font-size: 30px;
      }
    }
    a:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .installation__form {
    tr {
      width: 100%;
      height: 20px;
      line-height: 20px;
    }
    th {
      border: 0.5px solid;
    }
    td {
      border: 0.5px solid;
      text-align: center;
      vertical-align: middle;
    }
    .table__header__row {
      height: 35px;
      th {
        font-style: italic;
        font-weight: 700;
        font-size: 15px;
        vertical-align: middle;
      }
    }
    tr:nth-child(2) {
      height: 40px;
      td:nth-child(2) {
        button {
          display: inline-block;
          background-color: $mainBlue;
          width: 150px;
          height: 25px;
          margin-right: 10px;
          color: #fff;
          text-align: center;
          line-height: 25px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          opacity: 0.8;
          transition: all 0.2s;
          &:hover {
            opacity: 1;
          }
          &:first-child {
            width: 140px;
          }
          &:nth-child(2) {
            background-color: $warningRed;
          }
          i {
            margin-right: 5px;
            line-height: 25px;
          }
        }
        a {
          display: inline-block;
          background-color: $mainBlue;
          width: 150px;
          height: 25px;
          margin-right: 10px;
          color: #fff;
          text-align: center;
          line-height: 25px;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          opacity: 0.8;
          transition: all 0.2s;
          &:hover {
            opacity: 1;
          }
          &:first-child {
            width: 140px;
          }
          &:nth-child(2) {
            background-color: $warningRed;
          }
          i {
            margin-right: 5px;
            line-height: 25px;
          }
        }
      }
    }
    .edit__installation__controller {
      td:nth-child(2) {
        .save_after_edit {
          background-color: $mainBlue;
        }
        a {
          font-size: 13px;
        }
      }
    }
    select {
      display: block;
      font-size: 11px;
      height: 20px;
      border: none;
      background-color: $backgroundColor;
    }
    input {
      display: inline-block;
      height: 20px;
      background: none;
      border: none;
    }
    input[type="text"] {
      width: 95%;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      display: none;
    }
    .address__cell {
      td:nth-child(2) {
        input {
          width: 100%;
          max-width: 680px;
        }
      }
    }
    .not__purchased__td {
      input {
        height: 12px;
      }
    }
    .not__purchased__add {
      border: none;
      background: none;
      i {
        color: $mainBlue;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s;
      }
      i:hover {
        opacity: 1;
      }
    }
    .not__purchased__article__name {
      position: relative;
      input {
        width: 85%;
      }
    }
    button.delete__button {
      position: absolute;
      right: 5px;
      top: 1px;
      height: 100%;
      cursor: pointer;
      border: none;
      background: none;
      i {
        pointer-events: none;
        color: $warningRed;
        opacity: 0.5;
        transition: all 0.2s;
      }
      i:hover {
        opacity: 1;
      }
    }
    .textarea__cell {
      width: 100%;
      height: 100px;
      textarea {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 850px;
        height: 100%;
        border: none;
        background: none;
      }
    }
    tr.disabled {
      background-color: rgba(0, 0, 0, 0.3);
      text-decoration: line-through;
    }
    button.disabled {
      cursor: not-allowed;
      i {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .cmw__check {
      height: 12px;
      margin-left: 10px;
    }
  }
}
