.mnp__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mnp__backward__button {
    position: absolute;
    left: 130px;
    top: 90px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 30px;
      height: 30px;
      color: rgba(0, 0, 0, 0.3);
      transition: color 0.2s;
      i {
        font-size: 30px;
      }
    }
    a:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .mnp__control {
    display: flex;
    align-items: center;
    width: 90%;
    padding-bottom: 30px;
    form {
      margin-right: 50px;
      input {
        width: 250px;
        height: 25px;
        border: none;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 25px;
      border-radius: 10px;
      color: #fff;
      background-color: $mainBlue;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.2s;
      opacity: 0.8;
    }
    a:hover {
      opacity: 1;
    }
  }
  tr,
  th,
  td {
    border: 1px solid;
  }
  .mnps {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 635px;
    div:not(:last-child) {
      margin-bottom: 20px;
    }
    .mnp__list__block {
      .create_date {
        font-family: Noto Sans;
        font-weight: 700;
        font-size: 18px;
        font-style: italic;
      }
      a {
        display: grid;
        width: 100%;
        height: 55px;
        padding: 10px 15px;
        box-sizing: border-box;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
        border-radius: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5px;
        column-gap: 5px;
        align-content: center;
        justify-content: center;
        background-color: $boxColor;
        .week_number {
          font-style: italic;
          text-decoration: underline;
          text-decoration-color: red;
        }
        .customer_address {
          grid-column: span 2;
        }
        p {
          span:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.mnp__header__row {
  th {
    height: 25px;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    vertical-align: middle;
  }
  th:first-child {
    width: 50px;
  }
}
.etc__row {
  display: grid;
}
